.global_wrapper
{
    width: 1000px;
    margin: 0 auto;
}

.wrapper_dr
{
    position: relative;
    width: 600px;
    height: 600px;
    margin: 0 auto;

    overflow: hidden;

    border: 1px solid #565656;
}

.wrapper_dr .new-block
{

    border: 1px dashed #7d7b7a;
    overflow: hidden;
    position: absolute;


}

.type_2 .new-block
{
    width: 120px;
    height: 120px;
}

.type_2 .new-block img
{
    margin: 0 auto;
}

.new-block img
{
    margin: 0 auto;
    position: absolute;

    top: 50%;
    left: 50%;
}

.ui-resizable-helper
{
    border:1px dotted #7dbeff;
}

.dialog
{
}

.ui-dialog-titlebar-close.ui-corner-all .ui-icon-closethick
{
    background: url("../img/exit.png") no-repeat;
}

.actions_dr
{
	width: 600px;
	height: 30px;
	text-align: center;
    margin: 20px auto;
}

.button
{
    display: inline-block;
	height: 20px;
    width: auto;

	padding: 5px 10px;
    margin: 5px;

	color: red;
	background: #f9cdff;
    border: 1px solid red;

    border-radius: 10px;

    cursor: pointer;
}

#dialog .button
{
    color: #565656;
    background: #aaaaaa;
    border: 1px solid #565656;

    font-size: 12px;
    height: 15px;
}

/* what_kibd_of_template */

.what_kind_of_template
{
    position: absolute;
    background: #e5e3e1;
    width: 500px;
    height: 500px;
    top: 50%;
    margin-top: -250px;
    left: 50%;
    margin-left: -250px;

    z-index: 2;
}

.what_kind_of_template .img_template
{
    margin: 10px 20px;
    width: 200px;
    display: inline;
}

.what_kind_of_template .title
{
    font-size: 20px;
    color: red;
    font-weight: bold;
    margin: 10px;
}

.what_kind_of_creation
{
    width: 220px;
    height: 130px;
    position: absolute;
    background: #e5e3e1;
    top: 50%;
    margin-top: -50px;
    left: 50%;
    margin-left: -110px;
    padding: 10px;

}

.kind_of_creation
{
    width: 90px;
    display: inline-block;
    border: 1px solid red;
    margin: 10px 3px;

    padding: 5px;
    cursor: pointer;
}


/* TEMPLATES */

.templates
{
    display: none;
}

.template
{
    width: 600px;
    position: relative;
}

/* other */
.display_inline {
    display: inline-block;
}





